@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Abel', sans-serif;
}

#maquette {display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.center { width: 50%;
    padding: 0 25% 0 25%;
}
p {margin: 3% 0 3% 0;}